{% extends 'base.html.twig' %}
{% block title 'Les chapitres' %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <h1 class="chapitre">Chapitres</h1>
    {% for chapter in chapters %}
        <strong><h2 class="title">{{ chapter.title }}</h2></strong>
        <div class="date">
            <em>Ecrit le {{ chapter.createdAt | date('d/m/Y') }} à {{ chapter.createdAt | date('H:i') }}</em>
        </div>
        <br>
        <div class="content">
            <p>{{chapter.content | truncate(300) | raw }}
          
            <br>
            <a href="{{ path('chapter.show', {id: chapter.id, slug: chapter.slug}) }}">Lire la suite....</a></p>
        </div>
    {% endfor %}
</div>
{% endblock %}