{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Ajouter un chapitre</h1>
        {{ include('admin/chapter/_form.html.twig') }}  
    </div>
    {% for comment in chapter.comments %}
        {{ comment.author}} (<small>{{ comment.createdAt | date('d/m/y à H:i') }}</small>)
        <p>{{ comment.content | raw }}</p>
        {% if comment.signaled != true %}
        <p><a href="{{ path ('chapter_show', {'id': comment.id, signal: true}) }}">(signaler)</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset ('tiny_mce/tiny_mce.js') }}"></script>
<script>
    tinymce.init({
      selector: 'textarea',
    });
</script>
{% endblock %}